[submodule "backend"]
    path = backend
    url = https://github.com/A-Marbach/conduit-backend.git

[submodule "frontend"]
    path = frontend
    url = https://github.com/A-Marbach/conduit-frontend.git
